@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 47% 89%;
    --btn-background: 261 98% 80%;
    --btn-background-hover: 261 96% 66%;
    --btn-secondary-background: 34 47% 89%;
    --btn-secondary-background-hover: 33 69% 80%;
    --foreground: 200 50% 3%;
    --text-foreground: 200 50% 3%;
    --background-secondary: 0 0% 100%;
    --highlight: 28 100% 50%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}



@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
